@import url(//fonts.googleapis.com/css?family=Ubuntu:300,400,600,700&subset=latin);
@import url(//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css);
@import url(//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css);

body {
  background-image: url('img/topography.png');
  font-family: 'Ubuntu';
}

.drop-target {
  padding: 10px;
  border: 1px gray dashed;
  background: #f5fdf5;
}

.draggable {
  cursor: move;
}

.container {
  background: #ffffff;
  border-radius: 31px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  margin-top: 25px;
  border: 2px #f4f4f4 solid;
  color: #444433;
}

@media only screen and (max-device-width: 480px) {
    main {
        width: 300px;
        margin: -210px 0 0 -150px;
    }
}
